@using Microsoft.AspNetCore.Identity
@inject SignInManager<BugTrackerUser> SignInManager
@inject UserManager<BugTrackerUser> UserManager
@{
    BugTrackerUser bugTrackerUser = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            @if (SignInManager.IsSignedIn(User))
            {
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit();">Sign out</a></li>
            }
            else
            {
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Sign In</a></li>
            }
        </ul>
    </li>
</ul>

<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
</form>