@model BugTracker.Models.ViewModels.AddProjectWithPMViewModel
@using BugTracker.Models.Enums

@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-xxl-7 col-xl-10">
        <div class="card card-raised shadow-10 mt-5 mt-xl-10 mb-5">
            <div class="card-body p-5">
                <div class="text-center">
                    <h1 class="display-5 mb-4">Create New Project</h1>
                </div>
                <!-- Register new account form-->
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-4">
                        <label asp-for="Project.Name" class="text-primary fs-5"></label>
                        <input asp-for="Project.Name" class="form-control" />
                        <span asp-validation-for="Project.Name" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Project.Description" class="text-primary fs-5"></label>
                        <input asp-for="Project.Description" class="form-control" />
                        <span asp-validation-for="Project.Description" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <label asp-for="Project.StartDate" class="text-primary fs-5"></label>
                            <input asp-for="Project.StartDate" class="form-control" />
                            <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label asp-for="Project.EndDate" class="text-primary fs-5"></label>
                            <input asp-for="Project.EndDate" class="form-control" />
                            <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <label class="text-primary fs-5">Project Priority</label>
                            <select asp-for="Project.ProjectPriorityId" class="form-select" asp-items="@Model.PriorityList">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-sm-6 mb-4">
                            @if (User.IsInRole(Roles.Admin.ToString()))
                            {
                                <div class="form-group">
                                    <label class="text-primary fs-5"> Project Manager </label>
                                    <select asp-for="PMId" class="form-control form-select" asp-items="@Model.PMList">
                                        <option></option>
                                    </select>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <button type="submit" class="btn btn-primary" href="app-auth-login-basic.html">Create Project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
